inventory.yml
docker/files/apache-selfsigned.crt
docker/files/apache-selfsigned.key
docker/files/turneri.cert.pem
docker/files/turneri.key.pem
docker/files/fullchain.pem
docker/files/privkey.pem
testingenv
.env
**/__pycache__/
